kicad/*cache
kicad/*backups
kicad/*#
kicad/datasheets/*
simulations/*.log
simulations/*.raw
simulations/*.plt
simulations/spice_libs/*.log
simulations/spice_libs/*.raw
simulations/spice_libs/*.plt
examples
